/* MOBILE VERSION */
@media (min-width: 200px) {
   html {
      height: 100%;
   }

   body {
      @include flexElements;
      align-items: center;
   }

   .testing {
      row-gap: 5vh;
      align-items: center;

      > section {
         align-items: center;
         row-gap: 3vh;
      }

      %iconColor {
         @include iconLink(20vh,20vh,50%);
      }

      aside {
         width: 80%;
         align-items: center;
         text-align: center;
         row-gap: 2vh;
      }

      aside:nth-child(1) {
         > a {
            @extend %iconColor;
            background-color: $blueColor;
         }
      }

      aside:nth-child(2) {
         > a {
            @extend %iconColor;
            background-color: $redColor;
         }
      }

      aside:nth-child(3) {
         > a {
            @extend %iconColor;
            background-color: $greenColor;
         }
      }

      aside:nth-child(4) {
         > a {
            @extend %iconColor;
            background-color: $orangeColor;
         }
      }

      a {
         @include flexElements;
         justify-content: center;
      }

      i {
         font-size: 48px;
         color: whitesmoke;
      }
   }
}